# Node modules
node_modules/
*/node_modules/

# Env files
.env
*/.env

# Build files
dist/
build/

# System files
.DS_Store

# Logs
npm-debug.log*
yarn-error.log
pnpm-debug.log

# IDE
.vscode/
.idea/

# Prisma
prisma/dev.db
prisma/migrations/
