.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.layout-content {
  flex: 1;
  background-color: #f9fafb;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}
.page-area {
  flex: 1;
  overflow-y: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
