.search-box {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box input {
  width: 70%;
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  font-size: 17px;
  outline: none;
}

.search-box button {
  padding: 14px 20px;
  border-radius: 10px;
  border: none;
  background: rgb(36, 35, 35);
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.search-box button:hover {
  opacity: 0.8;
}
