.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  transition: all 0.3s ease;
}


.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2563eb;
  margin-bottom: 2rem;
  margin-left: 1.3rem;
}

.nav-section {
  flex: 1;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-bottom: 1rem;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #374151;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #f1f5f9;
}

.nav-links a.active {
  background-color: #eff6ff;
  color: #2563eb;
}

.sidebar-logout {
  margin-top: 16px;
}

.logout-btn {
  width: 70%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border: 2px solid #e81b0c;
  border-radius: 18px;
  color: #f41e06;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: auto;
  margin-right: auto;
}

.logout-btn svg {
  width: 20px;
  height: 20px;
}


.logout-btn:hover {
  background-color: #fff5f5;
}
