.book-skeleton {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.skeleton-img {
  width: 100%;
  height: 220px; 
  background: #e5e7eb;
}


.skeleton-content {
  padding: 12px;
}

.skeleton-line {
  height: 14px;
  border-radius: 6px;
  background: #e5e7eb;
}

.skeleton-line.title {
  width: 90%;
  height: 16px;
  margin-bottom: 8px;
}

.skeleton-line.author {
  width: 60%;
}


.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.3s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
