.book-card {
  position: relative;
  padding: 10px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.book-card:hover {
  transform: translateY(-4px);
}

.book-cover {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.book-title {
  margin-top: 8px;
  font-weight: 600;
}

.book-author {
  font-size: 14px;
  color: #777;
}
.remove-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  background: rgba(255, 0, 0, 0.8);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.remove-btn:hover {
  background: red;
}
