.book-card {
  background: white;
  border-radius: 14px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s ease;
}

.book-card:hover {
  transform: translateY(-4px);
}

.book-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.book-card h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.author {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.book-card button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
